<div id="cacao-content">
<input type="radio" class="radio" name="progress" value="cero" id="cero">
<label for="cero" class="label">0%</label>

<input type="radio" class="radio" name="progress" value="treinta" id="treinta" checked>
<label for="treinta" class="label">30%</label>


<input type="radio" class="radio" name="progress" value="cincuenta" id="cincuenta" checked>
<label for="cincuenta" class="label">50%</label>

<input type="radio" class="radio" name="progress" value="setenta" id="setenta">
<label for="setenta" class="label">70%</label>

<input type="radio" class="radio" name="progress" value="ochenta" id="ochenta">
<label for="ochenta" class="label">80%</label>

<input type="radio" class="radio" name="progress" value="cien" id="cien">
<label for="cien" class="label">100%</label>

<div class="progress">
	<div class="progress-bar"></div>
</div>

</div>